:root {
  --primary-text-color: #E7E3DA;
  --secondary-text-color: #232321;
}

body {
  background-image: linear-gradient(to bottom, #241680 38%, #B22C2F);

  /* height: 100%; */

  font-family: Poppins;
  font-size: 25px;
  font-weight: 600;
  line-height: 1;

  color: var(--primary-text-color);
}

.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 112px;
}

.hero {
  padding-bottom: 230px;
}

/* 🔴 картинка выъоди за пределы контейнера, поэтому, кроме как абсолютом, я хз, как е сделать */
.hero__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 948px;
  height: 621px;
  background-image: url(../images/cpark/hero_img.png);
}

.hero__wrapp {
  position: relative;
  z-index: 1;

  padding-top: 183px;
}

.hero__title {
  position: relative;
  z-index: 1;
  /* margin-top: 183px; */
  margin-bottom: 37px;

  font-size: 50px;
  font-weight: 400;
  line-height: 0.95;
}

.hero__text {
  margin-bottom: 52px;

  font-size: 25px;
  font-weight: 700;
  line-height: 1.36;
}

.hero__button {
  padding: 15px 91px;
  border-radius: 50px;

  color: #fff;
  background: #1D1D1B;

  border: none;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.45px;
  text-transform: uppercase;
}

.top_rank_wrapp {
  position: relative;
}

.top_rank__img-1 {
  background-image: url(../images/cpark/top_rank-stone-1.png);
  background-size: cover;
  /* transform: rotate(45deg); */

  position: absolute;
  top: 209px;
  left: 99px;

  width: 502px;
  height: 502px;
}

.top_rank__img-2 {
  background-image: url(../images/cpark/top_rank-stone-2.png);
  background-size: cover;
  /* transform: rotate(162.358deg); */

  position: absolute;
  top: 457px;
  left: 360px;

  z-index: 2;

  width: 346px;
  height: 346px;
}

.top_rank__smallTile {
  color: transparent;
  -webkit-text-stroke: 1px var(--primary-text-color);

  font-size: 35px;
  font-weight: 700;
  line-height: 0.95;

  text-transform: uppercase;
}

.top_rank__bigTile {
  position: relative;
  z-index: 3;

  margin-left: 26px;
  margin-bottom: 59px;

  font-size: 120px;
  font-weight: 700;
  line-height: 0.95;

  color: var(--secondary-text-color);

  text-transform: uppercase;
}

.top_rank__text_wrapp {
  position: relative;
  z-index: 3;
  margin-left: 500px;
}

.top_rank__text_2 {
  text-transform: uppercase;

}

/* свг под тайтлом */